<div class="row">
  <div class="col-md-12">
    <div class="box box-success record_detail_box">
      <div class="box-header with-border center">
        <h3>Editing Author</h3>
        <%= link_to 'Show', author_path(@author) %> |
        <%= link_to 'Back', authors_path %>
      </div>

      <%= render 'form', author: @author %>
    </div>
  </div>
</div>
