<div class="row">
  <div class="col-md-12">
    <div class="box box-success record_detail_box">
      <div class="box-header with-border center">
        <h3>Editing Book</h3>
        <%= link_to 'Show', book_path(@book) %> |
        <%= link_to 'Back', books_path %>
      </div>

      <%= render 'form', book: @book %>
    </div>
  </div>
</div>
