<div class="row">
  <div class="col-md-12">
    <div class="box box-success record_detail_box center">
      <div class="box-header with-border">
        <h3>New Book</h3>
        <%= link_to 'Back', books_path %>
      </div>

      <%= render 'form', book: @book %>
    </div>
  </div>
</div>
